/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts//pretendard-regular.subset.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts//pretendard-medium.subset.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts//pretendard-semibold.subset.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts//pretendard-bold.subset.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }

  html {
    background-color: #1a1c1e;
    font-family: 'Pretendard', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 4rem;
  }

  body {
    background-color: #1a1c1e;
    color: #fff;
  }

  .post h2 {
    font-size: 26px;
    font-weight: 600;

    margin: 1.4em 0 0.6em 0;
  }

  .post h3 {
    font-size: 22px;
    font-weight: 600;

    margin: 1.2em 0 0.4em 0;
  }

  .post h4 {
    font-size: 20px;
    font-weight: 600;

    margin: 1em 0 0.2em 0;
  }

  .post img {
    width: 100%;
    border-radius: 12px;
    margin: 36px 0px;
  }

  .post p {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #bdc5d2;
    line-height: 1.8;
    overflow-wrap: break-word;
  }

  @media (min-width: 1024px) {
    .post blockquote > p {
      margin: 8px 0px;
    }
    .post h2 {
      font-size: 30px;
    }
  }

  .post hr {
    height: 1px;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: rgb(59, 64, 73);
    border: none;
  }

  .post blockquote {
    margin: 30px 0px;
    padding: 16px;
    background-color: #1f2937;
    border-radius: 4px;
    border-left: 5px solid #1ae9df;
  }

  .post blockquote > p {
    font-style: italic;
    font-weight: 400;
    color: #fff;
  }

  .post li {
    color: #bdc5d2;
    margin: 18px 0px;

    font-size: 18px;
    font-weight: 500;
  }

  .post li > strong {
    font-size: 20px;
    line-height: 2;
    color: #48996b;
    background-color: transparent;
  }

  .post li > img {
    width: 15px;
    height: 15px;
  }

  .post strong {
    color: #000;
    font-weight: 600;
    padding: 2px 3px;
    border-radius: 4px;
    background-color: #ffc93c;
  }

  .post a {
    color: #4f93f1;
    text-decoration: underline;

    transition: color 0.2s ease;
  }

  .post a:hover {
    color: #237bf6;
  }

  .accordion {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  }

  .accordion.opened {
    max-height: 500px;
    transition: max-height 0.3s ease-in-out;
  }

  .postList h3 {
    transition: color 0.3s ease;
  }

  .postList .thumbnail {
    transition: transform 0.3s ease;
  }

  .postList .overlay {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  @media (min-width: 1024px) {
    .postList:hover h3 {
      color: #3182f6;
    }
    .postList:hover .thumbnail {
      transform: scale3d(1.1, 1.1, 1);
    }
    .postList:hover .overlay {
      opacity: 0.1;
    }
  }

  .currentPage {
    background-color: #9ca3af;
  }

  .pageButton:hover .selectablePage {
    border: 1px solid #9ca3af;
  }
}
